{% extends 'cars/main.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
    {% if action == 'update' %}
        Actualizar auto
    {% else %}
        Crear auto
    {% endif %}
{% endblock title %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}

        <div class="columns is-multiline">

            

            {% for field in form %}

                <div class="field column is-6">
                    <label class="label" >
                        {{ field.label }}
                    </label>
                    {% render_field field class+="input" %}
                </div>

            {% endfor %}

        </div>


        <hr>
        <button type="submit" class="button is-link is-outlined is-fullwidth">
            {% if action == 'update' %}
                Actualizar
            {% else %}
                Crear
            {% endif %}
        </button>
    </form>

{% endblock content %}