{% extends 'cars/main.html' %}
{% load static %}
{% load humanize %}

{% block title %}Listado{% endblock title %}

{% block content %}

    {% for message in messages %}
        <article class="message is-primary">
            <div class="message-body">
                {{message}}
            </div>
        </article>
    {% endfor %}

    <form action="{% url 'items_listado' %}" method="get">
        <div class="columns is-multiline">
    

            {% comment %} 
            <p class="control has-icons-left has-icons-right">
                <input class="input is-small" type="text" placeholder="Busqueda">
                <span class="icon is-small is-left">
                    <i class="lni lni-search-alt"></i>
                </span>
                
            </p> 
            {% endcomment %}
            
            {% comment %} {{filter.form}} {% endcomment %}
            
            {% for field in filter.form %}
                <div class="column is-6">
                    {{field}}
                </div>
            {% endfor %}

        </div>
                

        <button type="submit" class="button is-link is-outlined is-small is-fullwidth">
            <span>Buscar</span>
        </button>


    </form>
    {% if promedio.price__avg > 0 %}
        <br>
        <div class="notification is-info is-light">
            <b>Precio promedio: </b>
            ${{ promedio.price__avg|floatformat:2|intcomma }}
        </div>
    {% endif %}

    <br>

    <div class="table-container">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Año</th>
                    <th>Precio</th>
                    <th></th>
                </tr>
            </thead>
           

             <tbody>
                {% for item in cars %}
                    <tr>
                        
                        <td>
                            {{item.model|title}}
                        </td>
                        <td>
                            {{item.brand|title}}
                        </td>
                        <td>
                            {{ item.year }}
                        </td>
                        
                        <td>
                            ${{ item.price|intcomma }}
                        </td>

                        <td>

                            <div class="buttons are-small">

                                <a href="{% url 'update_item' item.id %}" class="button is-link is-outlined">
                                    <span class="icon">
                                        <i class="lni lni-pencil"></i>
                                    </span>
                                    <span>Editar</span>
                                </a>

                                <form action="{% url 'delete_item' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ item.id }}" />

                                    <button type="submit" class="button is-danger is-outlined">
                                        Eliminar
                                    </button>
                                </form>
                            </div>
                            
                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>





{% endblock content %}