{% load static %}

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">

    <div class="container">

        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'items_listado' %}">
                <img src="{% static '/img/car.png' %}" alt="Car logo">
            </a>    
    
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'items_listado' %}">
                Inicio
                </a>

                <a class="navbar-item" href="{% url 'create_item' %}">
                Crear auto
                </a>

                
            </div>
            
            
        </div>
    </div>

</nav>
<br>